@model IEnumerable<BTRS.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Trips List</h1>



@using (Html.BeginForm("Index", "Passenger", FormMethod.Post))
{



    @Html.ActionLink("Go to Booked List", "bookedList", "Passenger", null, new { @class = "btn btn-primary" })



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BussNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BussNumber)
                    </td>
                    <td>

                        @Html.ActionLink("Book", "BookTrip", "Passenger", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
